<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="static/script.js?v=13"></script>
        <link rel="stylesheet" href="static/style.css?v=6">
    </head>
    <body>
        <button type="button" class="btn btn-default" id="github">Github</button>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Имя</th>
                    <th scope="col">Очки</th>
                    <th scope="col" id="acmp-total">Acmp решено</th>
                    <th scope="col" id="timus-total">Timus решено</th>
                    <th scope="col" id="cfdiv1-total">CF.Div1 решено</th>
                    <th scope="col" id="cfdiv23-total">CF.Div2/3 решено</th>
                    <th scope="col" id="cfdiv23-total">Не сдаёт уже</th>
                </tr>
            </thead>
            <tbody id="toappend">
            </tbody>
        </table>
    </body>
</html>